@font-face {
  font-family: poppins;
  src: url("./Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 100;
  src: url("./Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 200;
  src: url("./Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 400;
  src: url("./Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 600;
  src: url("./Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 750;
  src: url("./Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins;
  font-weight: 900;
  src: url("./Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: cairo;
  src: url("./Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: cairo;
  font-weight: 300;
  src: url("./Cairo/Cairo-Light.ttf");
}
@font-face {
  font-family: cairo;
  font-weight: 400;
  src: url("./Cairo/Cairo-Regular.ttf");
}
@font-face {
  font-family: cairo;
  font-weight: 500;
  src: url("./Cairo/Cairo-Medium.ttf");
}
@font-face {
  font-family: cairo;
  font-weight: 700;
  src: url("./Cairo/Cairo-Bold.ttf");
}
@font-face {
  font-family: cairo;
  font-weight: 900;
  src: url("./Cairo/Cairo-Black.ttf");
}
